body {margin-top: 50px;}

.pad-top-10 {padding-top: 10px;}
.pad-top-20 {padding-top: 20px;}
.pad-top-30 {padding-top: 30px;}

.top-bar {
  height: 5px;
  background: #CA2129;
  margin-bottom: 1px;
}

.navbar {
  margin-bottom: 1px;
}

.navbar li:hover {
  background: #E7E7E7;
}

li.login a {
  background: #CA2129;
  margin-bottom: -10px !important;
  color: white !important;
  padding-left: 22px;
  padding-right: 22px;
}

li.login a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background: #CCC;
}

li.register a {
  background: #2F98CC;
  margin-bottom: -10px !important;
  color: white !important;
}

li.register a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background: #CCC;
}

.jumbotron {
  background: url(../images/waterdrop.jpg) no-repeat 50% 0;
  height: 350px;
  padding: 0;
}

.jumbotron [class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #EEE;
  border: 1px solid #DDD;
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.2);
  overflow: auto;
  height: 350px;
}

.jumbotron-content {
  color: #FFF;
}

.jumbotron h1 {
  font-size: 34px;
}

.bluebox {
  background: #2E98CC;
  overflow: hidden;
  height: 230px;
  color: white;
  padding: 0 10px;
  font-size: 120%;
}

.bluebox a.readmore {
  position: absolute;
  bottom: 15px;
  left: 30px;
  background: #2B8CBC;
  padding: 10px 15px;
  color: white;
}

.bluebox a.readmore:hover {
  background: #20749D;
}

.redbox {
  background: #CA2129;
  overflow: hidden;
  height: 230px;
  color: white;
  padding: 0 10px;
  font-size: 120%;
}

.redbox a.readmore {
  position: absolute;
  bottom: 15px;
  left: 30px;
  background: #BF1E26;
  padding: 10px 15px;
  color: white;
}

.redbox a.readmore:hover {
  background: #86161B;
}

.media-body {
  font-size: 120%;
}

.panel-default > .panel-heading {
  background: #2E98CC !important;
  color: white;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background: #CA2129;
  border: #CA2129;
}

.grey-list .list-group-item.active,
.grey-list .list-group-item.active:hover,
.grey-list .list-group-item.active:focus {
  background: #F4F4F4;
  border: #CCC;
  color: #666;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  background: #F4F4F4;
}
